:root {
  /* Paleta de Colores según tu diseño */
  --color-primary: #FF740F;       /* Naranja Tiggo */
  --color-primary-hover: #e0650d;
  --color-dark: #000000;          /* Negro puro para textos y botones */
  --color-text-gray: #4a4a4a;     /* Gris para textos secundarios */
  --color-bg-light: #FFFCF9;      /* Fondo crema muy suave */
  
  /* Tipografías */
  --font-heading: 'Montserrat', sans-serif; /* Para "MATA TU TIGRE" */
  --font-body: 'Montserrat', sans-serif;    /* Para textos generales */
  --font-mono: 'Roboto Mono', monospace;    /* Para el subtítulo estilo máquina de escribir */
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: var(--color-bg-light);
  color: var(--color-dark);
}

/* Utilidades generales */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}